<div class="costs-page main-page--section js_page-costs js_main-section">
  <div class="costs-page--wrapper container">
    <p>
      Стоимость проекта индивидуальна, ведь нельзя назвать цену, не взглянув на
      дизайн и чёткого ТЗ. Поэтому только при предоставлении дизайна, я смогу
      аргументированно сказать сколько уйдёт времени на разработку.
    </p>
    <p>
      При отсутствии мобильной версии дизайна сайта, стоимость работы
      увеличивается до 10$ / час.
    </p>
    <p>
      При желании можно добавить простую анимации на сайт (эффект появления из
      невидимости, выезжания и т.д.), но за это идёт доплата.
    </p>
    <p>
      Возможна посадка сайта на CMS WordPress с оформлением личного кабинета,
      для легкости при изменения сайта, без посторонней помощи
    </p>
    <p>
      Сайт будет:
    </p>
    <ul>
      <li>
        Хорошо оптимизирован по скорости загрузки (Находится в зелёной зоне по
        <a
          href="https://developers.google.com/speed/pagespeed/insights/?hl=RU"
          target="_blank"
          >Google PageSpeed</a
        >)
      </li>
      <li>
        Хорошо смотреться на всех устройствах (ноутбуки, планшеты, телефоны)
      </li>
      <li>
        Корректно отображаться в разных браузерах (IE 10/11, Google
        Chrome/Opera/Mozilla/Safari)
      </li>
      <li>
        Подготовлен к SEO продвижению, проверяется через
        <a
          href="https://developers.google.com/web/tools/lighthouse/"
          target="_blank"
          >Lighthouse</a
        >)
      </li>
      <li>
        Валиден, т.е. код сайта написан в соответствии с определенными
        стандартами и не будет содержать ошибок (Проходит проверку на валидность
        через
        <a href="https://validator.w3.org/" target="_blank">W3C</a>)
      </li>
    </ul>

    <div class="costs-block">
      <span>
        Час работы
      </span>

      <span>
        7$ / час
      </span>
    </div>

    <div class="costs-block">
      <span>
        Час работы (дизайна без мобильной версии)
      </span>

      <span>
        10$ / час
      </span>
    </div>

    <div class="costs-block">
      <span>
        Посадка на WordPress
      </span>

      <span>
        30$
      </span>
    </div>

    <div class="costs-block">
      <span>
        Добавление простой анимации
      </span>

      <span>
        1$ / секция
      </span>
    </div>
  </div>
</div>
