.js_scroll-disable {
  overflow-y: hidden;
}

.js_hidden {
  display: none;
}

// // ================= LIFT ANIMATION =================

@keyframes lift {
  0% {
    // top: 55vh;
  }

  40% {
    top: -15vh;
  }

  65% {
    top: 45vh;
  }

  100% {
    top: 55vh;
  }
}

#body {
  &:not(.js_active_lvl_1) {
    &.lift {
      .aside_container {
        animation: lift 4s ease-in-out forwards 1s;
      }

      button {
        // pointer-events: none !important;
      }
    }
  }

  &.lift {
    .aside_container {
      animation: lift 4s ease-in-out forwards;
    }

    button {
      // pointer-events: none !important;
    }
  }
}

// ================= Phone landscape =================
#body {
  @media only screen and (hover: none) and (pointer: coarse) and (max-width: 960px) and (orientation: landscape) {
    &::after {
      content: "";
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: var(--color-blue);
      background-image: url(../img/mobile-orientation.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 20%;
      pointer-events: none !important;
    }

    * {
      display: none !important;
      transform: none !important;
      transition: 0s !important;
      pointer-events: none !important;
    }
  }
}

// // ================= Transition =================
#body {
  &.js_load {
    &,
    * {
      transition-delay: 0s !important;
      transition-duration: 0s !important;
      animation-delay: 0s !important;
      animation-duration: 0s !important;
    }
  }
}
// // ================= Swipe =================
.js_active_1_1,
.js_active_2_1,
.js_active_3_1,
.js_active_4_1 {
  .step_1 {
    transition-delay: 0.5s;
    transform: translateY(0);
    animation: fadeIn 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards 0s;

    .step_1_top-content {
      opacity: 0;
      animation: fadeInTop 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
        1.3s;
    }
  }

  .step_2 {
    animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards 0s;
    transition-delay: 0.5s;
  }

  .step_2,
  .step_3,
  .step_4 {
    transform: translateY(100vh);
  }
}

.js_active_5_1 {
  .step_1 {
    .step_1_top-content {
      opacity: 0;
      animation: fadeInTop 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
        1.7s;
    }
  }

  .step_2 {
    transform: translateY(100vh);
  }
}

.js_active_1_2,
.js_active_2_2,
.js_active_3_2,
.js_active_4_2 {
  .step_1 {
    animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards 0s;
    transition-delay: 0.5s;

    transform: translateY(-100vh);
  }
  .step_2 {
    transition-delay: 0.5s;
    transform: translateY(0);

    .bg_sky,
    .step_2_top-content,
    .step_2_top-bg {
      opacity: 0;
    }

    .step_2_top-content {
      animation: fadeInTop 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
        2.2s;
      z-index: 5;
    }

    .bg_sky,
    .step_2_top-bg {
      animation: fadeIn 0.8s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards 1.7s;
    }
  }
  .step_3,
  .step_4 {
    transform: translateY(100vh);
  }
}

.js_active_5_2 {
  .step_1 {
    animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards 0s;
    transition-delay: 0.5s;

    transform: translateY(-100vh);
  }
  .aside {
    opacity: 0;
    visibility: hidden;
  }

  .lvl_5-2 {
    opacity: 0;
    // z-index: -1;
    transform: translateY(0);
    transition: 0s !important;
    animation: fadeIn 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards 0.5s;
  }
}

.js_active_1_3,
.js_active_2_3,
.js_active_3_3,
.js_active_4_3 {
  .aside_btn {
    opacity: 0;
    visibility: hidden;
  }

  .step_1,
  .step_2 {
    transform: translateY(-100vh);
  }

  .step_4,
  .step_2 {
    transition-delay: 0.5s;
    animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards 0s;
  }

  .step_3 {
    transition-delay: 0.5s;
    transform: translateY(0);

    .step_3_top-content {
      opacity: 0;
      animation: fadeInTop 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
        1.7s;
    }
  }

  .step_4 {
    transform: translateY(100vh);
  }
}

.js_active_1_4,
.js_active_2_4,
.js_active_3_4,
.js_active_4_4 {
  .aside_btn {
    &.js_active {
      opacity: 0;
      visibility: hidden;
      transition-delay: 0.5s;
      animation:
        fadeIn 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards 0s,
        pulse 2s infinite;
    }
  }
  .step_1,
  .step_2,
  .step_3 {
    transform: translateY(-100vh);
  }

  .step_3 {
    transition-delay: 0.5s;
    animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards 0s;
  }

  .step_4 {
    transform: translateY(0);
    transition-delay: 0.5s;

    // .step_4_bottom-info,
    .step_4_top-content {
      opacity: 0;

      animation: fadeInTop 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
        1.7s;
      z-index: 5;
    }
  }
}

.js_active_lvl_1 {
  &:not(.js_change_lvl) {
    .aside_container {
      top: 55vh !important;
      z-index: 99;
    }
  }
  .lvls {
    transition-delay: 0s;
    transition-duration: 0s;
    transform: translateY(100vh);
  }

  .lvl_all_bgs {
    transform: translateY(-650vh);
  }
}

.js_active_lvl_2 {
  .lvls {
    transition-delay: 1.5s !important;
    transition-duration: 1.5s !important;
    transform: translateY(200vh);
  }

  .lvl_all_bgs {
    transform: translateY(-500vh);
  }
}

.js_active_lvl_3 {
  .lvls {
    transition-delay: 1.5s !important;
    transition-duration: 1.5s !important;
    transform: translateY(300vh);
  }

  .lvl_all_bgs {
    transform: translateY(-350vh);
  }
}

.js_active_lvl_4 {
  .lvls {
    transition-delay: 1.5s !important;
    transition-duration: 1.5s !important;
    transform: translateY(400vh);
  }

  .lvl_all_bgs {
    transform: translateY(-200vh);
  }
}

.js_active_lvl_5 {
  .lvls {
    transition-delay: 1.5s !important;
    transition-duration: 1.5s !important;
    transform: translateY(0vh);
  }

  .lvl_all_bgs {
    transform: translateY(-50vh);
  }
}

.js_active_lvl_1,
.js_active_lvl_2,
.js_active_lvl_3,
.js_active_lvl_4,
.js_active_lvl_5 {
  .aside_container {
    top: 55vh;
  }
}
// 1111111111111111111111111111111111111111111111111111111111
.js_active_lvl_1 {
  &.js_change_lvl {
    .aside_container {
      top: 120vh;
    }
    .lvls {
      transform: translateY(100vh);
      transition-duration: 0s;
      transition-delay: 1.7s;
    }
    .bg_sky {
      opacity: 0;
      animation: fadeInHalf 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
        1s;
    }
    .lvl_1_bg {
      opacity: 0;
      animation: fadeInHalf 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
        1s;
    }

    .step_0_img-block,
    .step_0_bottom,
    .step_0_top {
      animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards 0s;
    }
    .step_1,
    .step_2,
    .step_3,
    .step_4 {
      display: none;
    }
  }

  &.lift {
    .step_1_wrapper {
      opacity: 0;
      animation: fadeIn 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards 0s;
    }
  }
}
// 2222222222222222222222222222222222222222222222222222222222
.js_active_lvl_2 {
  &.js_change_lvl {
    .lvls {
      transition-delay: 1s;

      .lvl_1 {
        .aside_btn {
          opacity: 0;
          visibility: hidden;
        }
        .step_1,
        .step_2,
        .step_3 {
          transform: translateY(-100vh);
        }
        .step_4 {
          transform: translateY(0);
          animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
            0s;
        }
        .step_1,
        .step_2,
        .step_3,
        .step_4 {
          animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
            0s;
          visibility: hidden;
          opacity: 0;
        }
      }

      .lvl_2 {
        .step_1,
        .step_2,
        .step_3,
        .step_4 {
          animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
            0s;
        }
      }
    }
  }

  &.js_content_animation_hidden {
    .lvls {
      .lvl_2 {
        .step_1_top-content {
          animation: none;
        }
        .step_1,
        .step_2,
        .step_3,
        .step_4 {
          animation: hidden 4s cubic-bezier(0.25, 0.37, 0.67, 0.94) 0s;
        }
      }
    }
  }

  .lvls {
    .lvl_1 {
      .step_1,
      .step_2,
      .step_3 {
        display: none;
      }
      .step_4 {
        animation: hidden 4s cubic-bezier(0.25, 0.37, 0.67, 0.94) infinite;
      }
    }
  }

  &.js_active_2_1 {
    .lvls {
      .lvl_2,
      .lvl_2 {
        .step_1 {
          opacity: 0;
        }

        // .step_1_top-content {
        //   animation: fadeInTop 0.5s cubic-bezier(.52,1.05,.92,.92) forwards 1.7s;
        //   animation-delay: 1.7s;
        // }
      }
    }
  }
}
// 3333333333333333333333333333333333333333333333333333333333
.js_active_lvl_3 {
  &.js_change_lvl {
    .lvls {
      transition-delay: 1s;
      .lvl_1,
      .lvl_2 {
        .aside_btn {
          opacity: 0;
          visibility: hidden;
        }
        .step_1,
        .step_2,
        .step_3 {
          transform: translateY(-100vh);
        }
        .step_4 {
          transform: translateY(0);
          animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
            0s;
        }
        .step_1,
        .step_2,
        .step_3,
        .step_4 {
          animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
            0s;
          visibility: hidden;
          opacity: 0;
        }
      }
      .lvl_3 {
        .step_1,
        .step_2,
        .step_3,
        .step_4 {
          opacity: 0;
          animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
            0s;
        }
      }
      .lvl_1,
      .lvl_2 {
        .step_1,
        .step_2,
        .step_3,
        .step_4 {
          visibility: hidden;
          display: none;
          transition-delay: 0s !important;
          opacity: 0;
          animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
            0s;
        }
      }
    }
  }

  &.js_content_animation_hidden {
    .lvls {
      .lvl_3 {
        .step_1,
        .step_2,
        .step_3,
        .step_4 {
          animation: hidden 4s cubic-bezier(0.25, 0.37, 0.67, 0.94) 0s;
        }
      }
    }
  }

  .lvls {
    .lvl_1,
    .lvl_2 {
      .step_1,
      .step_2,
      .step_3,
      .step_4 {
        animation: hidden 4s cubic-bezier(0.25, 0.37, 0.67, 0.94) infinite;
      }
    }

    .lvl_3 {
      .step_1 {
        // transition-delay: 0.5s;
        // opacity: 0;
        // animation-iteration-count: 1;
        // animation: fadeIn 0.5s cubic-bezier(.52,1.05,.92,.92) forwards;

        .step_1_top-content {
          // animation: fadeInTop 0.5s cubic-bezier(.52,1.05,.92,.92) forwards 1.7s;
        }
      }
    }
  }

  &.js_active_3_1 {
    .lvls {
      .lvl_3 {
        .step_1 {
          opacity: 0;
        }
      }
    }
  }
}

// 4444444444444444444444444444444444444444444444444444444444
.js_active_lvl_4 {
  &.js_change_lvl {
    .lvls {
      transition-delay: 1s;
      .lvl_1,
      .lvl_2,
      .lvl_3 {
        .aside_btn {
          opacity: 0;
          visibility: hidden;
        }
        .step_1,
        .step_2,
        .step_3 {
          transform: translateY(-100vh);
        }
        .step_4 {
          transform: translateY(0);
          animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
            0s;
        }
        .step_1,
        .step_2,
        .step_3,
        .step_4 {
          animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
            0s;
          visibility: hidden;
          opacity: 0;
        }
      }
      .lvl_4 {
        .step_1,
        .step_2,
        .step_3,
        .step_4 {
          animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
            0s;
        }
      }

      .lvl_1,
      .lvl_2,
      .lvl_3 {
        .step_1,
        .step_2,
        .step_3,
        .step_4 {
          visibility: hidden;
          display: none;
          transition-delay: 0s !important;
          opacity: 0;
          animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
            0s;
        }
      }
    }
  }

  &.js_content_animation_hidden {
    .lvls {
      .lvl_4 {
        .step_1,
        .step_2,
        .step_3,
        .step_4 {
          animation: hidden 4s cubic-bezier(0.25, 0.37, 0.67, 0.94) 0s;
        }
      }
    }
  }

  .lvls {
    .lvl_1,
    .lvl_2,
    .lvl_3 {
      .step_1,
      .step_2,
      .step_3,
      .step_4 {
        animation: hidden 4s cubic-bezier(0.25, 0.37, 0.67, 0.94) infinite;
      }
    }

    .lvl_4 {
      .step_1 {
        // transition-delay: 0.5s;
        // opacity: 0;
        // animation-iteration-count: 1;
        // animation: fadeIn 0.5s cubic-bezier(.52,1.05,.92,.92) forwards;

        .step_1_top-content {
          // animation: fadeInTop 0.5s cubic-bezier(.52,1.05,.92,.92) forwards 1.7s;
        }
      }
    }
  }

  &.js_active_4_1 {
    .lvls {
      .lvl_4 {
        .step_1 {
          opacity: 0;
        }
      }
    }
  }
}

// 5555555555555555555555555555555555555555555555555555555555
.js_active_lvl_5 {
  &.js_change_lvl {
    .lvls {
      transition-delay: 1s;
      .lvl_1,
      .lvl_2,
      .lvl_3,
      .lvl_4 {
        .aside_btn {
          opacity: 0;
          visibility: hidden;
        }
        .step_1,
        .step_2,
        .step_3 {
          transform: translateY(-100vh);
        }
        .step_4 {
          transform: translateY(0);
          animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
            0s;
        }
        .step_1,
        .step_2,
        .step_3,
        .step_4 {
          animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
            0s;
          visibility: hidden;
          opacity: 0;
        }
      }
      .lvl_5 {
        .step_1,
        .step_2,
        .step_3,
        .step_4 {
          animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
            0s;
        }
      }
    }
  }

  &.js_content_animation_hidden {
    .lvls {
      .lvl_5 {
        .step_1,
        .step_2,
        .step_3,
        .step_4 {
          animation: hidden 4s cubic-bezier(0.25, 0.37, 0.67, 0.94) 0s;
        }
      }
    }
  }

  .lvls {
    .lvl_1,
    .lvl_2,
    .lvl_3,
    .lvl_4 {
      .step_1,
      .step_2,
      .step_3,
      .step_4 {
        animation: hidden 4s cubic-bezier(0.25, 0.37, 0.67, 0.94) infinite;
      }
    }

    .lvl_5 {
      .step_1 {
        // transition-delay: 0.5s;
        // opacity: 0;
        // animation-iteration-count: 1;
        // animation: fadeIn 0.5s cubic-bezier(.52,1.05,.92,.92) forwards;

        .step_1_top-content {
          // animation: fadeInTop 0.5s cubic-bezier(.52,1.05,.92,.92) forwards 1.7s;
        }
      }
    }
  }

  &.js_active_5_1 {
    .lvl_0,
    .lvl_1,
    .lvl_2,
    .lvl_3,
    .lvl_4 {
      .step_0,
      .step_1,
      .step_2,
      .step_3,
      .step_4 {
        visibility: hidden;
        display: none;
        transition-delay: 0s !important;
        opacity: 0;
        animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards 0s;
      }
    }

    .lvls {
      .lvl_1,
      .lvl_2,
      .lvl_3,
      .lvl_4 {
        .step_1 {
          opacity: 0;
        }
      }
    }
  }
}
