.js_scroll-disable {
  overflow-y: hidden;
}

.js_hidden {
  display: none;
}

// // ================= LIFT ANIMATION =================

// 10% - 0.5 sek
@keyframes lift {
  0% {
    transform: translate(-50%, 45vh);
    transform: translate(-50%, 45dvh);
    transform: translate(-50%, 45svh);
  }

  10% {
    transform: translate(-50%, 45vh);
    transform: translate(-50%, 45dvh);
    transform: translate(-50%, 45svh);
  }

  30% {
    transform: translate(-50%, 10vh);
    transform: translate(-50%, 10dvh);
    transform: translate(-50%, 10svh);
  }
  75% {
    transform: translate(-50%, 10vh);
    transform: translate(-50%, 10dvh);
    transform: translate(-50%, 10svh);
  }

  100% {
    transform: translate(-50%, 45vh);
    transform: translate(-50%, 45dvh);
    transform: translate(-50%, 45svh);
  }
}
@keyframes liftStart {
  0% {
    transform: translate(-50%, 120vh);
    transform: translate(-50%, 120dvh);
    transform: translate(-50%, 120svh);
  }

  100% {
    transform: translate(-50%, 45vh);
    transform: translate(-50%, 45dvh);
    transform: translate(-50%, 45svh);
  }
}

#body {
  &:not(.js_active_lvl_1) {
    &.lift {
      .aside_container {
        animation: lift 4.2s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards 0s;
      }

      button {
        // pointer-events: none !important;
      }
    }
  }

  &.lift {
    .aside_container {
      animation: liftStart 2.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
        0.5s;
    }

    button {
      // pointer-events: none !important;
    }
  }
}

// ================= Phone landscape =================
#body {
  @media only screen and (hover: none) and (pointer: coarse) and (max-width: 960px) and (orientation: landscape) {
    &::after {
      content: "";
      position: fixed;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: var(--color-blue);
      background-image: url(../img/mobile-orientation.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 20%;
      pointer-events: none !important;
    }

    * {
      display: none !important;
      transform: none !important;
      transition: 0s !important;
      pointer-events: none !important;
    }
  }
}

// // ================= Transition =================
#body {
  &.js_load {
    &,
    * {
      transition-delay: 0s !important;
      transition-duration: 0s !important;
      animation-delay: 0s !important;
      animation-duration: 0s !important;
    }
  }
}
// // ================= Swipe =================
.js_active_1_1,
.js_active_2_1,
.js_active_3_1,
.js_active_4_1,
.js_active_5_1 {
  .step_1 {
    transition-delay: 0.5s;
    transform: translateY(0);
    animation: fadeIn 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards 0s;

    .step_1_top-content {
      opacity: 0;
      animation: fadeInTop 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
        1.7s;

      @media screen and (max-width: 640px) {
        animation: fadeInTop 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
          0.5s;
      }
    }
  }

  .step_2 {
    animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards 0s;
    transition-delay: 0.5s;
  }

  .step_2,
  .step_3,
  .step_4 {
    transform: translateY(100vh);
    transform: translateY(100dvh);
    transform: translateY(100svh);
  }
}

.js_active_5_1 {
  .step_1 {
    .step_1_top-content {
      animation: fadeInTop 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards 5s !important;
    }
  }
}

.js_active_1_2,
.js_active_2_2,
.js_active_3_2,
.js_active_4_2 {
  .step_1 {
    animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards 0s;
    transition-delay: 0.5s;

    transform: translateY(-100vh);
    transform: translateY(-100dvh);
    transform: translateY(-100svh);
  }
  .step_2 {
    transition-delay: 0.5s;
    transform: translateY(0);

    .bg_sky,
    .step_2_top-content,
    .step_2_top-bg {
      opacity: 0;
    }

    .step_2_top-content {
      animation: fadeInTop 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
        2.2s;
      z-index: 5;
    }

    .bg_sky,
    .step_2_top-bg {
      animation: fadeIn 0.8s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards 1.7s;
    }
  }
  .step_3,
  .step_4 {
    transform: translateY(100vh);
    transform: translateY(100dvh);
    transform: translateY(100svh);
  }
}

.js_active_5_2 {
  .step_1 {
    animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards 0s;
    transition-delay: 0.5s;

    transform: translateY(-100vh);
    transform: translateY(-100dvh);
    transform: translateY(-100svh);
  }
  .aside {
    opacity: 0;
    visibility: hidden;
  }

  .lvl_5-2 {
    opacity: 0;
    // z-index: -1;
    transform: translateY(0);
    transition: 0s !important;
    animation: fadeIn 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards 0.5s;
  }
}

.js_active_1_3,
.js_active_2_3,
.js_active_3_3,
.js_active_4_3 {
  .aside_btn {
    opacity: 0;
    visibility: hidden;
  }

  .step_1,
  .step_2 {
    transform: translateY(-100vh);
    transform: translateY(-100dvh);
    transform: translateY(-100svh);
  }

  .step_4,
  .step_2 {
    transition-delay: 0.5s;
    animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards 0s;
  }

  .step_3 {
    transition-delay: 0.5s;
    transform: translateY(0);

    .step_3_top-content {
      opacity: 0;
      animation: fadeInTop 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
        1.7s;
    }
  }

  .step_4 {
    transform: translateY(100vh);
    transform: translateY(100dvh);
    transform: translateY(100svh);
  }
}

.js_active_1_4,
.js_active_2_4,
.js_active_3_4,
.js_active_4_4 {
  .aside_btn {
    &.js_active {
      opacity: 0;
      visibility: hidden;
      transition-delay: 0.5s;
      animation:
        fadeIn 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards 0s,
        pulse 2s infinite;
    }
  }
  .step_1,
  .step_2,
  .step_3 {
    transform: translateY(-100vh);
    transform: translateY(-100dvh);
    transform: translateY(-100svh);
  }

  .step_3 {
    transition-delay: 0.5s;
    animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards 0s;
  }

  .step_4 {
    transform: translateY(0);
    transition-delay: 0.5s;

    // .step_4_bottom-info,
    .step_4_top-content {
      opacity: 0;

      animation: fadeInTop 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
        1.7s;
      z-index: 5;
    }
  }
}

.js_active_lvl_1 {
  &:not(.js_change_lvl) {
    .aside_container {
      transform: translate(-50%, 45vh) !important;
      transform: translate(-50%, 45dvh) !important;
      transform: translate(-50%, 45svh) !important;
      z-index: 99;

      @media screen and (max-width: 640px) {
        transform: translate(-50%, 30vh) !important;
        transform: translate(-50%, 30dvh) !important;
        transform: translate(-50%, 30svh) !important;
      }
    }
  }
  .lvls {
    transition-delay: 0s;
    transition-duration: 0s;
    transform: translateY(100vh);
    transform: translateY(100dvh);
    transform: translateY(100svh);
  }

  .lvl_all_bgs {
    transform: translateY(-800vh);
    transform: translateY(-800dvh);
    transform: translateY(-800svh);
  }
}

.js_active_lvl_2 {
  .lvls {
    transition-delay: 1.5s !important;
    transition-duration: 1.5s !important;
    transform: translateY(200vh);
    transform: translateY(200dvh);
    transform: translateY(200svh);
  }

  @keyframes lvl2_anim_bg {
    0% {
      transform: translateY(-800vh);
      transform: translateY(-800dvh);
      transform: translateY(-800svh);
    }
    20% {
      transform: translateY(-800vh);
      transform: translateY(-800dvh);
      transform: translateY(-800svh);
    }
    60% {
      transform: translateY(-700vh);
      transform: translateY(-700dvh);
      transform: translateY(-700svh);
    }
    100% {
      transform: translateY(-600vh);
      transform: translateY(-600dvh);
      transform: translateY(-600svh);
    }
  }

  .lvl_all_bgs {
    animation: lvl2_anim_bg 4s forwards linear 0s;
    transition-delay: 4s !important;
    transition-duration: 0s !important;
    transform: translateY(-600vh);
    transform: translateY(-600dvh);
    transform: translateY(-600svh);
  }
}

.js_active_lvl_3 {
  .lvls {
    transition-delay: 1.5s !important;
    transition-duration: 1.5s !important;
    transform: translateY(300vh);
    transform: translateY(300dvh);
    transform: translateY(300svh);
  }

  @keyframes lvl3_anim_bg {
    0% {
      transform: translateY(-600vh);
      transform: translateY(-600dvh);
      transform: translateY(-600svh);
    }
    20% {
      transform: translateY(-600vh);
      transform: translateY(-600dvh);
      transform: translateY(-600svh);
    }
    60% {
      transform: translateY(-500vh);
      transform: translateY(-500dvh);
      transform: translateY(-500svh);
    }
    100% {
      transform: translateY(-400vh);
      transform: translateY(-400dvh);
      transform: translateY(-400svh);
    }
  }

  .lvl_all_bgs {
    animation: lvl3_anim_bg 4s forwards linear 0s;
    transition-delay: 4s !important;
    transition-duration: 0s !important;
    transform: translateY(-400vh);
    transform: translateY(-400dvh);
    transform: translateY(-400svh);
  }
}

.js_active_lvl_4 {
  .lvls {
    transition-delay: 1.5s !important;
    transition-duration: 1.5s !important;
    transform: translateY(400vh);
    transform: translateY(400dvh);
    transform: translateY(400svh);
  }

  @keyframes lvl4_anim_bg {
    0% {
      transform: translateY(-400vh);
      transform: translateY(-400dvh);
      transform: translateY(-400svh);
    }
    20% {
      transform: translateY(-400vh);
      transform: translateY(-400dvh);
      transform: translateY(-400svh);
    }
    60% {
      transform: translateY(-300vh);
      transform: translateY(-300dvh);
      transform: translateY(-300svh);
    }
    100% {
      transform: translateY(-200vh);
      transform: translateY(-200dvh);
      transform: translateY(-200svh);
    }
  }

  .lvl_all_bgs {
    animation: lvl4_anim_bg 4s forwards linear 0s;
  }
}

.js_active_lvl_5 {
  .lvls {
    transition-delay: 1.5s !important;
    transition-duration: 1.5s !important;
    transform: translateY(500vh);
    transform: translateY(500dvh);
    transform: translateY(500svh);
  }

  @keyframes lvl5_anim_bg {
    0% {
      transform: translateY(-200vh);
      transform: translateY(-200dvh);
      transform: translateY(-200svh);
    }
    20% {
      transform: translateY(-200vh);
      transform: translateY(-200dvh);
      transform: translateY(-200svh);
    }
    60% {
      transform: translateY(-100vh);
      transform: translateY(-100dvh);
      transform: translateY(-100svh);
    }
    100% {
      transform: translateY(0vh);
    }
  }

  .lvl_all_bgs {
    animation: lvl5_anim_bg 4s forwards linear 0s;
  }
}

.js_active_lvl_1,
.js_active_lvl_2,
.js_active_lvl_3,
.js_active_lvl_4,
.js_active_lvl_5 {
  .aside_container {
    transform: translate(-50%, 45vh);
    transform: translate(-50%, 45dvh);
    transform: translate(-50%, 45svh);
  }
}
// 1111111111111111111111111111111111111111111111111111111111
.js_active_lvl_1 {
  &.js_change_lvl {
    .aside_container {
      transform: translate(-50%, 120vh);
      transform: translate(-50%, 120dvh);
      transform: translate(-50%, 120svh);

      @media screen and (max-width: 640px) {
        transform: translate(-50%, 30vh) !important;
        transform: translate(-50%, 30dvh) !important;
        transform: translate(-50%, 30svh) !important;
      }
    }
    .lvls {
      transform: translateY(100vh);
      transform: translateY(100dvh);
      transform: translateY(100svh);
      transition-duration: 0s;
      transition-delay: 1.7s;
    }
    .bg_sky {
      opacity: 0;
      animation: fadeInHalf 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards;
    }
    .lvl_1_bg {
      opacity: 0;
      animation: fadeInHalf 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
        1s;
    }

    .step_0_bg,
    .step_0_img-block,
    .step_0_bottom,
    .step_0_top {
      animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards 0s;
    }
    .step_1,
    .step_2,
    .step_3,
    .step_4 {
      display: none;
    }
  }

  &.lift {
    .step_1_wrapper {
      opacity: 0;
      animation: fadeIn 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards 0s;
    }
  }
}
// 2222222222222222222222222222222222222222222222222222222222
.js_active_lvl_2 {
  .aside_container {
    @media screen and (max-width: 640px) {
      transform: translate(-50%, 30vh) !important;
      transform: translate(-50%, 30dvh) !important;
      transform: translate(-50%, 30svh) !important;
    }
  }

  &.js_change_lvl {
    .lvls {
      transition-delay: 1s;

      .lvl_1 {
        .aside_btn {
          opacity: 0;
          visibility: hidden;
        }
        .step_1,
        .step_2,
        .step_3 {
          transform: translateY(-100vh);
          transform: translateY(-100dvh);
          transform: translateY(-100svh);
        }
        .step_4 {
          transform: translateY(0);
          animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
            0s;
        }
        .step_1,
        .step_2,
        .step_3,
        .step_4 {
          animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
            0s;
          visibility: hidden;
          opacity: 0;
        }
      }

      .lvl_2 {
        .step_1,
        .step_2,
        .step_3,
        .step_4 {
          animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
            0s;
        }
      }
    }
  }

  &.js_content_animation_hidden {
    .lvls {
      .lvl_2 {
        .step_1_top-content {
          animation: none;
        }
        .step_1,
        .step_2,
        .step_3,
        .step_4 {
          animation: hidden 4s cubic-bezier(0.25, 0.37, 0.67, 0.94) 0s;
        }
      }
    }
  }

  .lvls {
    .lvl_1 {
      .step_1,
      .step_2,
      .step_3 {
        display: none;
      }
      .step_4 {
        animation: hidden 4s cubic-bezier(0.25, 0.37, 0.67, 0.94) infinite;
      }
    }
  }

  &.js_active_2_1 {
    .lvls {
      .lvl_2,
      .lvl_2 {
        .step_1 {
          opacity: 0;
        }

        // .step_1_top-content {
        //   animation: fadeInTop 0.5s cubic-bezier(.52,1.05,.92,.92) forwards 1.7s;
        //   animation-delay: 1.7s;
        // }
      }
    }
  }
}
// 3333333333333333333333333333333333333333333333333333333333
.js_active_lvl_3 {
  .aside_container {
    @media screen and (max-width: 640px) {
      transform: translate(-50%, 30vh) !important;
      transform: translate(-50%, 30dvh) !important;
      transform: translate(-50%, 30svh) !important;
    }
  }
  &.js_change_lvl {
    .lvls {
      transition-delay: 1s;
      .lvl_1,
      .lvl_2 {
        .aside_btn {
          opacity: 0;
          visibility: hidden;
        }
        .step_1,
        .step_2,
        .step_3 {
          transform: translateY(-100vh);
          transform: translateY(-100dvh);
          transform: translateY(-100svh);
        }
        .step_4 {
          transform: translateY(0);
          animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
            0s;
        }
        .step_1,
        .step_2,
        .step_3,
        .step_4 {
          animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
            0s;
          visibility: hidden;
          opacity: 0;
        }
      }
      .lvl_3 {
        .step_1,
        .step_2,
        .step_3,
        .step_4 {
          opacity: 0;
          animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
            0s;
        }
      }
      .lvl_1,
      .lvl_2 {
        .step_1,
        .step_2,
        .step_3,
        .step_4 {
          visibility: hidden;
          display: none;
          transition-delay: 0s !important;
          opacity: 0;
          animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
            0s;
        }
      }
    }
  }

  &.js_content_animation_hidden {
    .lvls {
      .lvl_3 {
        .step_1,
        .step_2,
        .step_3,
        .step_4 {
          animation: hidden 4s cubic-bezier(0.25, 0.37, 0.67, 0.94) 0s;
        }
      }
    }
  }

  .lvls {
    .lvl_1,
    .lvl_2 {
      .step_1,
      .step_2,
      .step_3,
      .step_4 {
        animation: hidden 4s cubic-bezier(0.25, 0.37, 0.67, 0.94) infinite;
      }
    }

    .lvl_3 {
      .step_1 {
        // transition-delay: 0.5s;
        // opacity: 0;
        // animation-iteration-count: 1;
        // animation: fadeIn 0.5s cubic-bezier(.52,1.05,.92,.92) forwards;

        .step_1_top-content {
          // animation: fadeInTop 0.5s cubic-bezier(.52,1.05,.92,.92) forwards 1.7s;
        }
      }
    }
  }

  &.js_active_3_1 {
    .lvls {
      .lvl_3 {
        .step_1 {
          opacity: 0;
        }
      }
    }
  }
}

// 4444444444444444444444444444444444444444444444444444444444
.js_active_lvl_4 {
  .aside_container {
    @media screen and (max-width: 640px) {
      transform: translate(-50%, 30vh) !important;
      transform: translate(-50%, 30dvh) !important;
      transform: translate(-50%, 30svh) !important;
    }
  }
  &.js_change_lvl {
    .lvls {
      transition-delay: 1s;
      .lvl_1,
      .lvl_2,
      .lvl_3 {
        .aside_btn {
          opacity: 0;
          visibility: hidden;
        }
        .step_1,
        .step_2,
        .step_3 {
          transform: translateY(-100vh);
          transform: translateY(-100dvh);
          transform: translateY(-100svh);
        }
        .step_4 {
          transform: translateY(0);
          animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
            0s;
        }
        .step_1,
        .step_2,
        .step_3,
        .step_4 {
          animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
            0s;
          visibility: hidden;
          opacity: 0;
        }
      }
      .lvl_4 {
        .step_1,
        .step_2,
        .step_3,
        .step_4 {
          animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
            0s;
        }
      }

      .lvl_1,
      .lvl_2,
      .lvl_3 {
        .step_1,
        .step_2,
        .step_3,
        .step_4 {
          visibility: hidden;
          display: none;
          transition-delay: 0s !important;
          opacity: 0;
          animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
            0s;
        }
      }
    }
  }

  &.js_content_animation_hidden {
    .lvls {
      .lvl_4 {
        .step_1,
        .step_2,
        .step_3,
        .step_4 {
          animation: hidden 4s cubic-bezier(0.25, 0.37, 0.67, 0.94) 0s;
        }
      }
    }
  }

  .lvls {
    .lvl_1,
    .lvl_2,
    .lvl_3 {
      .step_1,
      .step_2,
      .step_3,
      .step_4 {
        animation: hidden 4s cubic-bezier(0.25, 0.37, 0.67, 0.94) infinite;
      }
    }
  }

  &.js_active_4_1 {
    .lvls {
      .lvl_4 {
        .step_1 {
          opacity: 0;
        }
      }
    }
  }
}

// 5555555555555555555555555555555555555555555555555555555555
.js_active_lvl_5 {
  .aside_container {
    @media screen and (max-width: 640px) {
      transform: translate(-50%, 30vh) !important;
      transform: translate(-50%, 30dvh) !important;
      transform: translate(-50%, 30svh) !important;
    }
  }
  &.js_change_lvl {
    .lvls {
      transition-delay: 1s;
      .lvl_1,
      .lvl_2,
      .lvl_3,
      .lvl_4 {
        .aside_btn {
          opacity: 0;
          visibility: hidden;
        }
        .step_1,
        .step_2,
        .step_3 {
          transform: translateY(-100vh);
          transform: translateY(-100dvh);
          transform: translateY(-100svh);
        }
        .step_4 {
          transform: translateY(0);
          animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
            0s;
        }
        .step_1,
        .step_2,
        .step_3,
        .step_4 {
          animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
            0s;
          visibility: hidden;
          opacity: 0;
        }
      }
      .lvl_5 {
        .step_1,
        .step_2,
        .step_3,
        .step_4 {
          animation: fadeOut 0.5s cubic-bezier(0.25, 0.37, 0.67, 0.94) forwards
            0s;
        }
      }
    }
  }

  &.js_content_animation_hidden {
    .lvls {
      .lvl_5 {
        .step_1,
        .step_2,
        .step_3,
        .step_4 {
          animation: hidden 4s cubic-bezier(0.25, 0.37, 0.67, 0.94) 0s;
        }
      }
    }
  }

  .lvls {
    .lvl_0,
    .lvl_1,
    .lvl_2,
    .lvl_3,
    .lvl_4 {
      .step_0,
      .step_1,
      .step_2,
      .step_3,
      .step_4 {
        animation: hidden 4s cubic-bezier(0.25, 0.37, 0.67, 0.94) infinite;
      }
    }
  }

  &.js_active_5_1 {
    .lvls {
      .lvl_5 {
        .step_1 {
          opacity: 0;
        }
      }
    }
  }
}
