.plyr {
  height: 100%;

  &__poster {
    background-size: cover;

    border-radius: 24px 24px 0 0 !important;
  }

  &__control--overlaid {
    background-color: transparent;
    width: 56px;
    height: 56px;
    padding: 0;
    background: url(../img/icons/player-btn.svg) center no-repeat !important;
    background-size: 100% 100% !important;
    svg {
      display: none;
    }

    @media screen and (max-width: 640px) {
      // @include toVh(width, 40dvh, !important);
      // @include toVh(height, 40dvh, !important);

      @include setProp(width, 40px, 40dvh, 40vh, !important);
      @include setProp(height, 40px, 40dvh, 40vh, !important);
    }
  }

  &--paused .plyr__controls,
  &--stopped .plyr__controls {
    opacity: 0;
  }
}
