.progress {
  border-radius: 20px;
  position: relative;
  background-color: $color-grey;
  display: block;
  height: 10px;
  width: 100%;

  &_bar {
    background-color: $color-white;
    border-radius: 20px;
    position: absolute;
    left: 3px;
    top: 3px;
    height: 4px;
    width: 100%;
    max-width: 0;
  }

  &_text {
    position: absolute;
    right: 0;
    top: -25px;
  }
}
