<aside class="aside js_aside">
  <picture class="aside_media align-items-center justify-content-center">
    <img src="./build/img/avatar.png" alt="avatar" />
  </picture>

  <div class="aside_content d-flex f-col">
    <div class="aside_content-block">
      <h3 class="h3">Contacts</h3>

      <div class="d-flex f-col">
        <div class="icon-left">
          <i class="icon-svg"> </i>

          <div class="icon-left-text">
            <a href="tel:+999">+999</a>
          </div>
        </div>
        <div class="icon-left">
          <i class="icon-svg"> </i>

          <div class="icon-left-text">
            <a href="tel:+999">+999</a>
          </div>
        </div>
        <div class="icon-left">
          <i class="icon-svg"> </i>

          <div class="icon-left-text">
            <a href="tel:+999">+999</a>
          </div>
        </div>
      </div>
    </div>
    <div class="aside_content-block">
      <h3 class="h3">Skills</h3>

      <div class="progress_block d-flex align-items-center">
        <p>HTML</p>

        <div class="progress_block-bar">
          <div class="progress_block-prog" style="max-width: 100%"></div>
        </div>
      </div>

      <div class="progress_block d-flex align-items-center">
        <p>CSS</p>

        <div class="progress_block-bar">
          <div class="progress_block-prog" style="max-width: 80%"></div>
        </div>
      </div>

      <div class="progress_block d-flex align-items-center">
        <p>JS</p>

        <div class="progress_block-bar">
          <div class="progress_block-prog" style="max-width: 70%"></div>
        </div>
      </div>
    </div>
    <div class="aside_content-block">
      <h3 class="h3">Languages</h3>

      <div class="progress_block d-flex align-items-center">
        <p>Russian</p>

        <div class="progress_block-bar">
          <div class="progress_block-prog" style="max-width: 100%"></div>
        </div>
      </div>

      <div class="progress_block d-flex align-items-center">
        <p>Arabic</p>

        <div class="progress_block-bar">
          <div class="progress_block-prog" style="max-width: 100%"></div>
        </div>
      </div>

      <div class="progress_block d-flex align-items-center">
        <p>English</p>

        <div class="progress_block-bar">
          <div class="progress_block-prog" style="max-width: 75%"></div>
        </div>
      </div>

      <div class="progress_block d-flex align-items-center">
        <p>Ukrainian</p>

        <div class="progress_block-bar">
          <div class="progress_block-prog" style="max-width: 60%"></div>
        </div>
      </div>

      <div class="progress_block d-flex align-items-center">
        <p>German</p>

        <div class="progress_block-bar">
          <div class="progress_block-prog" style="max-width: 50%"></div>
        </div>
      </div>
    </div>
  </div>
</aside>
