<main class="main js_main">
  <div class="main_head">
    <h1 class="h1">Mokhamed Barkhush</h1>

    <h2 class="h2">Web-developer</h2>
  </div>

  <div class="main_content">
    <div class="main_block">
      <div class="icon-left">
        <i class="icon-svg"> </i>

        <div class="icon-left-text">
          <h4 class="h4">title</h4>
        </div>
      </div>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, autem
        illum. Enim dolores culpa excepturi! Minus, illum. Eius, dolorem
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore, qui.
      </p>
    </div>
    <div class="main_block">
      <div class="icon-left">
        <i class="icon-svg"> </i>

        <div class="icon-left-text">
          <h4 class="h4">title</h4>
        </div>
      </div>

      <article class="main_block-article">
        <h5 class="h5">Lorem, ipsum.</h5>
        <p>
          <strong> 2019-2020 </strong>
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur,
          autem illum. Enim dolores culpa excepturi! Minus, illum. Eius, dolorem
        </p>
      </article>

      <article class="main_block-article">
        <h5 class="h5">Lorem, ipsum.</h5>
        <p>
          <strong> 2019-2020 </strong>
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur,
          autem illum. Enim dolores culpa excepturi! Minus, illum. Eius, dolorem
        </p>
      </article>
    </div>
    <div class="main_block">
      <div class="icon-left">
        <i class="icon-svg"> </i>

        <div class="icon-left-text">
          <h4 class="h4">title</h4>
        </div>
      </div>

      <article class="main_block-article">
        <h5 class="h5">Lorem, ipsum.</h5>
        <p>
          <strong> 2019-2020 </strong>
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur,
          autem illum. Enim dolores culpa excepturi! Minus, illum. Eius, dolorem
        </p>
      </article>

      <article class="main_block-article">
        <h5 class="h5">Lorem, ipsum.</h5>
        <p>
          <strong> 2019-2020 </strong>
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur,
          autem illum. Enim dolores culpa excepturi! Minus, illum. Eius, dolorem
        </p>
      </article>
    </div>
  </div>
</main>
