<dialog class="dialog js_dialog1">
  <div class="dialog_bg js_dialog_bg"></div>

  <div class="dialog_close js_dialog_close">
    <i class="icon-svg">
      <svg
        width="23"
        height="22"
        viewBox="0 0 23 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M22.2132 2.12123L3.12132 21.2131L1 19.0918L20.0919 -8.58903e-05L22.2132 2.12123Z"
          fill="black"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M19.7987 21.2132L0.706805 2.12132L2.82812 0L21.92 19.0919L19.7987 21.2132Z"
          fill="black"
        />
      </svg>
    </i>
  </div>
  
  
</dialog>
