<dialog class="dialog js_dialog3">
  <div class="dialog_bg js_dialog_bg"></div>

  <div class="dialog_close js_dialog_close">
    <i class="icon-svg">
      <svg
        width="23"
        height="22"
        viewBox="0 0 23 22"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M22.2132 2.12123L3.12132 21.2131L1 19.0918L20.0919 -8.58903e-05L22.2132 2.12123Z"
          fill="black"
        />
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M19.7987 21.2132L0.706805 2.12132L2.82812 0L21.92 19.0919L19.7987 21.2132Z"
          fill="black"
        />
      </svg>
    </i>
  </div>

  <div class="dialog_container">
    <div class="swiper js_slider-leads">
      <div class="swiper-wrapper">
        <div class="swiper-slide dialog_card">
          <div class="dialog_card-bg">
            <svg
              width="320"
              height="210"
              viewBox="0 0 320 210"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0 40C0 17.9086 17.9086 0 40 0H280C302.091 0 320 17.9086 320 40V210H0V40Z"
                fill="url(#paint0_linear_0_2539)"
              />
              <defs>
                <linearGradient
                  id="paint0_linear_0_2539"
                  x1="160"
                  y1="0"
                  x2="160"
                  y2="210"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#FFBD14" />
                  <stop offset="1" stop-color="#FFBD14" stop-opacity="0" />
                </linearGradient>
              </defs>
            </svg>
          </div>

          <h3 class="h3">Programmatic Retargeting</h3>

          <p>
            Programmatic Retargeting позволяет вернуть на сайт только целевых
            посетителей.
          </p>

          <p>
            Продукт, позволяющий на 20% усилить работу классического
            ретаргетинга за счет отсеивания аудитории, с низким коэффициент
            соответствия целевому портрету.
          </p>
        </div>
        <div class="swiper-slide dialog_card">
          <div class="dialog_card-bg">
            <svg
              width="320"
              height="210"
              viewBox="0 0 320 210"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0 40C0 17.9086 17.9086 0 40 0H280C302.091 0 320 17.9086 320 40V210H0V40Z"
                fill="url(#paint0_linear_0_25392)"
              />
              <defs>
                <linearGradient
                  id="paint0_linear_0_25392"
                  x1="160"
                  y1="0"
                  x2="160"
                  y2="210"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#E33368" />
                  <stop offset="1" stop-color="#E33368" stop-opacity="0" />
                </linearGradient>
              </defs>
            </svg>
          </div>

          <h3 class="h3">Programmatic Retargeting</h3>

          <p>
            Programmatic Retargeting позволяет вернуть на сайт только целевых
            посетителей.
          </p>

          <p>
            Продукт, позволяющий на 20% усилить работу классического
            ретаргетинга за счет отсеивания аудитории, с низким коэффициент
            соответствия целевому портрету.
          </p>
        </div>
        <div class="swiper-slide dialog_card">
          <div class="dialog_card-bg">
            <svg
              width="320"
              height="210"
              viewBox="0 0 320 210"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0 40C0 17.9086 17.9086 0 40 0H280C302.091 0 320 17.9086 320 40V210H0V40Z"
                fill="url(#paint0_linear_0_25393)"
              />
              <defs>
                <linearGradient
                  id="paint0_linear_0_25393"
                  x1="160"
                  y1="0"
                  x2="160"
                  y2="210"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#5162FF" />
                  <stop offset="1" stop-color="#5162FF" stop-opacity="0" />
                </linearGradient>
              </defs>
            </svg>
          </div>

          <h3 class="h3">Programmatic Retargeting</h3>

          <p>
            Programmatic Retargeting позволяет вернуть на сайт только целевых
            посетителей.
          </p>

          <p>
            Продукт, позволяющий на 20% усилить работу классического
            ретаргетинга за счет отсеивания аудитории, с низким коэффициент
            соответствия целевому портрету.
          </p>
        </div>
        <div class="swiper-slide dialog_card">
          <div class="dialog_card-bg">
            <svg
              width="320"
              height="210"
              viewBox="0 0 320 210"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0 40C0 17.9086 17.9086 0 40 0H280C302.091 0 320 17.9086 320 40V210H0V40Z"
                fill="url(#paint0_linear_0_25394)"
              />
              <defs>
                <linearGradient
                  id="paint0_linear_0_25394"
                  x1="160"
                  y1="0"
                  x2="160"
                  y2="210"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#71C97D" />
                  <stop offset="1" stop-color="#71C97D" stop-opacity="0" />
                </linearGradient>
              </defs>
            </svg>
          </div>

          <h3 class="h3">Programmatic Retargeting</h3>

          <p>
            Programmatic Retargeting позволяет вернуть на сайт только целевых
            посетителей.
          </p>

          <p>
            Продукт, позволяющий на 20% усилить работу классического
            ретаргетинга за счет отсеивания аудитории, с низким коэффициент
            соответствия целевому портрету.
          </p>
        </div>
      </div>

      <div class="swiper-controls">
        <div class="swiper-button-prev">Назад</div>
        <div class="swiper-button-next">Далее</div>
      </div>
    </div>
  </div>
</dialog>
