<div class="accordion-container accordion-container--spec" style="opacity: 1">
  <div class="accordion">
    Юридическая информация о&nbsp;СберПрайм
    <div class="icon-svg">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
      >
        <g clip-path="url(#clip0_628_8151)">
          <mask
            id="mask0_628_8151"
            style="mask-type: luminance"
            maskUnits="userSpaceOnUse"
            x="0"
            y="0"
            width="24"
            height="24"
          >
            <path d="M24 0L24 24L0 24L0 0L24 0Z" fill="white" />
          </mask>
          <g mask="url(#mask0_628_8151)">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M15.2975 9.87062C15.6875 9.48063 16.3175 9.48063 16.7075 9.87062C17.0975 10.2606 17.0975 10.9006 16.7075 11.2906L11.9975 16.0006L7.2975 11.2906C6.9075 10.9006 6.9075 10.2606 7.2975 9.87062C7.6875 9.48063 8.3175 9.48063 8.7075 9.87062L11.9975 13.1706L15.2975 9.87062Z"
              fill="#262626"
            />
          </g>
        </g>
        <defs>
          <clipPath id="clip0_628_8151">
            <rect
              width="24"
              height="24"
              fill="white"
              transform="matrix(0 1 -1 0 24 0)"
            />
          </clipPath>
        </defs>
      </svg>
    </div>
  </div>
  <div class="panel">
    <p>
      Подписка СберПрайм - услуги АО «ЦПЛ» (ОГРН 1117746689840, адрес: 121170,
      Москва, Вн.Тер.Г. Муниципальный Округ Дорогомилово, ул. Поклонная, 3, этаж
      3, пом. 120) по организации и обеспечению предоставления физическим лицам,
      заключившим Договор о Подписке СберПрайм, доступа к комплексу сервисов
      партнеров Подписки СберПрайм (включая поощрение, доступное в рамках
      уникальных маркетинговых акций партнеров Подписки СберПрайм).
    </p>
    <p>
      О Подписке СберПрайм:
      <a href="https://www.sberbank.com/sberprime"
        >https://www.sberbank.com/sberprime</a
      >. Перечень партнеров, условия и ограничения:
      <a
        href="https://www.sberbank.com/sberprime/static/pdf/services_conditions.pdf"
        >https://www.sberbank.com/sberprime/static/pdf/services_conditions.pdf</a
      >. Публична оферта о Семействе подписок СберПрайм:&nbsp;
      <a href="https://www.sberbank.com/sberprime/static/offers/offer.pdf"
        >https://www.sberbank.com/sberprime/static/offers/offer.pdf</a
      >
    </p>
    <p>
      Предложение «Подключить 30 дней за 1 ₽» доступно в рамках акции «Подписка
      СберПрайм 30 дней за 1 руб».&nbsp;для клиентов, которые не имеют
      действующую Подписку из Семейства подписок СберПрайм и впервые оформляют
      Подписку СберПрайм (далее – «Акция»). Организатор Акции: АО «ЦПЛ», ОГРН:
      1117746689840. Общий срок проведения Акции: с «25» марта 2025 г. по «31»
      декабря 2025 года. (включительно) по московскому времени.&nbsp; Термины с
      заглавной буквы, касающиеся Подписки СберПрайм, значение, которых не
      приведено, употребляются в значении, определенном в Оферте и Правилах
      Акции. Имеются ограничения. С подробной информацией об Организаторе Акции,
      правилах проведения Акции, количестве поощрений, сроках, месте и порядке
      их получения, информацией об ограничениях можно ознакомиться по ссылке:
      <a href="https://www.sberbank.com/sberprime/yourprime"
        >https://www.sberbank.com/sberprime/yourprime</a
      >
      .
    </p>
    <p>
      Окко (18+), ООО «ОККО», ОГРН 1167847381130, адрес: 197374, г.
      Санкт-Петербург, вн.тер.г. Муниципальный округ №65, ул. Савушкина, д. 126,
      лит. Б, пом. 71-Н, пользовательское соглашение:
      <a href="https://okko.tv/terms">https://okko.tv/terms</a>. По подписке
      СберПрайм предоставляется доступ к Сервису «Okko», включая ежемесячную
      скидку 15% на оплату отдельного видеоконтента (часть видеоконтента
      доступно за отдельную плату), на период действия подписки СберПрайм
      (подробнее о Сервисе: <a href="https://okko.tv">https://okko.tv</a>).
    </p>
    <p>
      Звук (12+), ООО «ЗВУК», ОГРН 5177746117005, адрес: 101000, г. Москва, вн.
      тер. г. муниципальный округ Красносельский, пер. Уланский, д. 22, стр. 1,
      помещ. 1Н/6, пользовательское соглашение:
      <a href="https://zvuk.com/terms">https://zvuk.com/terms</a>. По подписке
      СберПрайм предоставляется доступ к Сервису «Звук» (подробнее о Сервисе:
      <a href="https://zvuk.com/">https://zvuk.com/</a>) на период действия
      подписки СберПрайм. Активация Специального предложения Партнёра,
      включенного в состав Подписки, возможна только на территории Российской
      Федерации.&nbsp;
    </p>
    <p>
      СберМобайл (3+).&nbsp;Услуги оказывает оператор связи ООО
      «Сбербанк-Телеком», ОГРН 1167746305430, адрес: 117997, г. Москва, ул.
      Вавилова, д. 19. Подробнее об услугах оператора:&nbsp;
      <a href="https://sbermobile.ru/">https://sbermobile.ru.</a>&nbsp;Условия
      тарифов могут отличаться в зависимости от региона оформления
      сим-карты.&nbsp;
    </p>
    <ol>
      <li>
        Подписчикам СберПрайм предоставляется ежемесячная скидка на стоимость
        абонентской платы по следующим тарифным планам СберМобайл, оформленным
        (подключенным) с 07.11.2024 и позднее: скидка 100 рублей по тарифным
        планам «Для рациональных», «Для энергичных», «Для общительных», «Для
        продуктивных»; скидка 150 рублей по тарифным планам «Для практичных»,
        «Для неудержимых», «Для продвинутых», «Для экспрессивных»; скидка 200
        рублей по тарифным планам «Для деловых», «Для экстравертов», «Для
        максималистов», «Для искушённых». Подробная информация о тарифных планах
        СберМобайл размещена по ссылке:
        <a href="https://sbml.ru/r/prime_tariffs"
          >https://sbml.ru/r/prime_tariffs</a
        >.
      </li>
      <li>
        Подписчикам СберПрайм и подключившим (оформившим) с 07.11.2024 или
        позднее один из следующих тарифных планов от СберМобайл: «Для
        минималистов», «Для активных», «Для увлечённых», «Для любопытных», «Для
        рациональных», «Для энергичных», «Для общительных», «Для продуктивных»,
        «Для практичных», «Для неудержимых», «Для продвинутых», «Для
        экспрессивных», «Для деловых», «Для экстравертов», «Для максималистов»,
        «Для искушённых» , предоставляется возможность принять участие в
        маркетинговой акции «Неограниченные тарифы с подпиской СберПрайм»,
        проводимой СберМобайл в период с 07.11.2024 по 31.12.2025 и получить в
        рамках такой акции поощрение - безлимитные (неограниченные) услуги
        подвижной радиотелефонной связи: пакет неограниченных минут&nbsp; на
        мобильные номера по всей территории России, а также безлимитные
        (неограниченные) услуги доступа к сети Интернет (услуги мобильного
        Интернета) при использовании такими Клиентами Сервиса «Okko» , Сервиса
        «Звук»&nbsp; и социальных сетей «ВКонтакте» и «Одноклассники» . Имеются
        ограничения. Критерии использования пакета неограниченных минут:
        количество одновременных звонков не может быть более одного, количество
        звонков, совершённых на уникальные номера, не может превышать 30
        (тридцати), суммарная длительность звонков за сутки не должна превышать
        250 (двухсот пятидесяти) минут более суток подряд; отсутствие входящих
        звонков в течение расчетного периода. Правила проведения маркетинговой
        акции «Неограниченные тарифы с подпиской СберПрайм» от СберМобайл
        размещены по ссылке:
        <a href="https://sbml.ru/r/prime_option"
          >https://sbml.ru/r/prime_option</a
        >.
      </li>
    </ol>
    <p>
      Подробнее о порядке предоставление тарифных планов для подписчиков
      СберПрайм:
      <a href="https://sbermobile.ru/ai/html/165/file/sberprime_rules.pdf"
        >https://sbermobile.ru/ai/html/165/file/sberprime_rules.pdf</a
      >.
    </p>
    <p>
      Диск (6+), ООО «Облачные технологии», ОГРН 5167746080057, юридический
      адрес: 117312, г. Москва, ул. Вавилова, д. 23, стр. 1, ком. N1.207,
      условия использования сервиса. Скидка в размере 100% на услуги SberCloud
      по предоставлению 30 Гб в течение действия подписки СберПрайм. Подписка
      СберПрайм добавляет 15 гигабайт дискового пространства к базовым 15 Гб от
      Диска. Также подписчики СберПрайм получают скидку 15% на расширение
      облачного хранилища.
    </p>
    <p>
      СберСтрахование (18+), ООО СК «Сбербанк страхование» (18+), ОГРН
      1147746683479, юридический адрес: 121170, г. Москва, ул. Поклонная, дом 3,
      корпус 1, 1 этаж, помещение 3. Лицензия Банка России СИ № 4331 от
      12.10.2020, СЛ № 4331 от 12.10.2020. Подробная
      <a href="https://www.sberbank.ru/ru/person/bank_inshure/insuranceprogram"
        >информация</a
      >
      о продуктах. Подписчики СберПрайм могут приобретать страховые полисы с
      выгодой 10% прямо в Мобильном приложении Банка и отделениях Банка. Под
      выгодой 10% подразумевается разница от стандартной стоимости страхового
      продукта в Мобильном приложении Банка или отделениях Банка. Подробнее о
      страховых программах. С подробным перечнем включенных в страховую
      программу рисков и объектов страхования, с ограничениями в страховом
      покрытии, исключениями из страхования, порядком определения страховой
      суммы и размера страховой выплаты (включая лимиты ответственности), а
      также с иными условиями страхования можно ознакомиться на сайте:
      <a href="https://sberbankins.ru/">https://sberbankins.ru/</a>.&nbsp;
    </p>
    <p>
      Афиша (18+), Общество с ограниченной ответственностью «Компания Афиша».
      ОГРН 1107746038410. ИНН 7710861670. Адрес: 117105, г. Москва, вн.тер.г.
      муниципальный округ Донской, Варшавское ш., д. 9, стр. 1. Пользовательское
      соглашение:&nbsp;<a href="https://www.afisha.ru/article/usage/"
        >https://www.afisha.ru/article/usage/</a
      >.&nbsp;
    </p>
    <p>
      С 10.02.2025 подписчикам СберПрайм&nbsp; предоставляется возможность
      получить скидку 15% от стоимости электронного билета на
      театрально-зрелищное, культурно-просветительное, зрелищно-развлекательное,
      спортивное или иное мероприятие (кроме билетов в кинотеатры), при условии
      его оплаты с использованием банковской карты, эмитированной ПАО Сбербанк,
      или SberPay. Имеются ограничения. Для оформления билета со скидкой
      подписчику необходимо перейти из мобильного приложения «СберБанк Онлайн»
      на сайт
      <a href="https://www.afisha.ru/">https://www.afisha.ru/</a> и совершить
      иные необходимые действия в порядке, указанном по ссылке:
      <a
        href="https://www.sberbank.com/sberprime/static/pdf/services_conditions.pdf"
        >https://www.sberbank.com/sberprime/static/pdf/services_conditions.pdf</a
      >. Скидка не распространяется на электронные билеты в кинотеатры
      (электронные билеты, удостоверяющие право его держателя на посещение
      показа фильма), электронные сертификаты, товары, сервисный сбор, а также
      при оплате электронного билета с использованием «Пушкинской карты» и/или
      «Лаврентьевской карты», размер скидки не может превышать 1000 (Одну
      тысяча) рублей от общей стоимости заказа, Афиша вправе устанавливать и
      взимать сервисный сбор применительно к любому электронному билету,
      приобретаемому Клиентом. Скидка предоставляется в рамках акции «Афиша»
      (далее – «Акция Афиши»), организатором которой является ООО «Компания
      Афиша». Срок Акции Афиши: с 10.02.2025 г. по 31.12.2025 г. включительно.
      Имеются ограничения. Скидка в рамках Акции Афиши не суммируется с иными
      скидками и специальными предложениями организатора Акции. Ссылка на
      правила проведения Акции Афиши:&nbsp;<a
        href="https://www.afisha.ru/article/pravila-akcii-afisha-v-prayme/"
        >https://www.afisha.ru/article/pravila-akcii-afisha-v-prayme/</a
      >.
    </p>
    <p>
      Whoosh (Вуш, 16+) - Общество с ограниченной ответственностью «ВУШ», ОГРН
      1187746542180, ИНН 9717068640, адрес: 127006, г. Москва, вн.тер.г.
      Муниципальный округ Тверской, ул. Долгоруковская, д. 21, стр. 1.
      Оферта:&nbsp;<a href="https://whoosh-bike.ru/terms_russia/ru#terms"
        >https://whoosh-bike.ru/terms_russia/ru#terms</a
      >. Сайт:&nbsp;&nbsp;<a href="https://whoosh-bike.ru/"
        >https://whoosh-bike.ru/</a
      >.
    </p>
    <p>
      С 18.03.2025 подписчикам СберПрайм на территории Российской Федерации
      предоставляется возможность получить в сервисе «Whoosh» скидку в размере
      10% от поминутного тарифа поездки на электросамокате/электровелосипеде
      (далее также – «Средство индивидуальной мобильности» или «СИМ») и
      бесплатный старт поездки – право использования платформы микромобильности
      Whoosh со скидкой в размере 100% от размера фиксированного платежа,
      взимаемого при каждом использовании функционала мобильного приложения
      Whoosh (16+) для начала каждой новой аренды СИМ (разблокировка СИМ, начало
      поездки), при условии авторизации в мобильном приложении Whoosh по Сбер ID
      и оплаты поездки с использованием банковской карты, эмитированной ПАО
      Сбербанк, или SberPay.
    </p>
    <p>
      Также новым подписчикам, подключившим подписку СберПрайм 18.03.2025 или
      позднее и ранее не имевшим подписки из Семейства подписок СберПрайм (далее
      также – Новый подписчик), может быть предоставлен промокод Whoosh,
      предоставляющий возможность получить дополнительную скидку на первую
      поездку на электросамокате/электровелосипеде в размере 40% от поминутного
      тарифа поездки, при условии авторизации в мобильном приложении Whoosh по
      Сбер ID и оплаты поездки с использованием банковской карты, эмитированной
      ПАО Сбербанк, или SberPay. Промокоды Whoosh могут быть предоставлены
      Новому подписчику путем отправки Push-уведомления, содержащего информацию
      о промокоде, в течение 5 дней с момента подключения подписки Новым
      подписчиком. В случае, если Новый подписчик не получил промокод Whoosh в
      указанный срок, он вправе обратиться по телефону 900 (бесплатный звонок с
      мобильных телефонов на территории Российской Федерации) для его получения.
      Для получения скидки 40% Новым подписчикам, получившим соответствующую
      коммуникацию с промокодом Whoosh, необходимо авторизоваться в мобильном
      приложении Whoosh по Сбер ID и ввести полученный промокод с помощью
      функционала мобильного приложения Whoosh в поле “Добавить промокод” до
      начала поездки и оплатить поездку с использованием банковской карты,
      эмитированной ПАО Сбербанк, или SberPay.
    </p>
    <p>
      При заключении Договора о Подписке СберПрайм 02.10.2023 и позднее
      физическому лицу, имеющему Подписку СберПрайм, безакцептно подключается
      Тарифный план «СберПрайм» (подробности предоставления Тарифного плана
      «СберПрайм» -&nbsp;<a
        href="https://www.sberbank.com/sberprime/static/pdf/rateplansberprime.pdf"
        >https://www.sberbank.com/sberprime/static/pdf/rateplansberprime.pdf</a
      >) от ПАО Сбербанк (ОГРН 1027700132195,117312, г. Москва, ул. Вавилова, д.
      19, Генеральная лицензия Банка России на осуществление банковских операций
      № 1481 от 11.08.2015) при условии наличия у подписчика заключенного
      договора банковского обслуживания с ПАО Сбербанк. Тарифный план
      «СберПрайм» может быть оформлен физическими лицами с 14 лет. Тарифный план
      «СберПрайм» включает в себя бесплатное обслуживание и бесплатные
      уведомления по операциям по СберКарте, а также платежи и переводы клиентам
      без комиссии до 500 000 руб. в месяц через Систему «Сбербанк Онлайн», SMS
      - банк (Мобильный банк). В лимит не входят переводы с кредитных карт,
      переводы с участием бизнес-карт, платежей в счет оплаты транспортных
      средств, платежей в пользу инвестиционных и брокерских компаний, платежей
      в счет оплаты страховых услуг, операций по оплате приобретения и/или
      строительства недвижимости, пополнение расчетных счетов юридических лиц с
      использованием сервиса «Самоинкассация».&nbsp; Комиссия по переводам свыше
      500 000 руб. (суммарно по всем переводам в месяц) составляет 1% от суммы
      перевода (при этом максимальный размер комиссии не более 5 000 руб.)
    </p>
    <p>
      СберВклад -&nbsp;<a
        href="https://www.sberbank.com/ru/person/contributions/deposits/sbervklad_a"
        >Подробнее</a
      >.
    </p>
    <p>
      Предложение по начислению Бонусов в Категориях покупок (категориях
      кешбэка) доступно Участникам Программы лояльности «Спасибо» (далее –
      Программа), являющимся владельцами Подписки СберПрайм. Участникам
      Программы в течение каждого Расчётного периода доступен выбор и Активация
      Категорий покупок из предложенных в Мобильном приложении Банка и/или в
      ПКЛ. Размер Бонусного поощрения для каждой Категории покупок определяется
      Банком/Уполномоченной компанией (право Банка или Уполномоченной компании)
      на каждый Расчетный период. По Бонусным операциям, совершенным в течение
      15 мин. после Активации Категории, получение Бонусного поощрения в
      Категории покупок может быть недоступно. Суммарный лимит Бонусного
      поощрения в Расчётном периоде для владельцев Подписки СберПрайм -
      10&nbsp;000 Бонусов. Максимальная сумма единовременной бонусной операции
      не может превышать 100 000 руб. В целях получение Бонусного поощрения
      Участникам, необходимо в течение Расчетного периода: Активировать
      Категорию покупок из предложенных в Мобильном приложении Банка и/или в ПКЛ
      и совершить хотя бы 1 (одну) Бонусную операцию по приобретению Товаров с
      использованием Инструментов доступа в ТСП, соответствующем Активированной
      Категории покупок. Бонусы за совершение Бонусной операции начисляются в
      зависимости от принадлежности Бонусной операции к Категории покупок,
      которая была Активирована. В случае, если Участник в Расчётном периоде
      активировал категории в количестве меньшем, чем ему доступно для
      Активации, повторная Активация категорий Участником не допускается.
      Изменение категории будет доступно в следующем Расчетном периоде. Бонусы
      начисляются за каждые полные 100 (Сто) рублей Бонусной операции. Если
      сумма Бонусной операции не кратна 100 (Ста) рублям Уполномоченная компания
      производит округление суммы Бонусной операции в меньшую сторону до
      значения кратного 100 (Ста) рублям. Указанное ограничение не применяется
      при совершении Участником Бонусной операции в Категории покупок
      «Транспорт», Активированной в соответствии с Правилами Бонусной программы.
      Имеются ограничения по перечню Бонусных&nbsp;операций и перечню
      участвующих Карт Банка.
    </p>
    <p>
      Купер (12+).&nbsp;Участникам Программы, имеющим действующую Подписку
      СберПрайм в Торговых точках Организатора Акции ООО «Инстамарт Сервис»
      (ОГРН 1187746494980, 115035, г. Москва, вн.тер.г. муниципальный округ
      Замоскворечье, ул. Садовническая, д. 9А, этаж 5, помещ. I, ком. 1)
      доступно Начисление Бонусов в рамках Акции «СберПрайм» (срок: с 01.02.2024
      и без ограничения по сроку)&nbsp; в период: 1) с 01.08.2024 по 27.12.2024
      включительно в размере 2% от суммы Покупки (если сумма Покупки составила
      величину от 1000 до 1999 руб. вкл.), либо в размере 3% от суммы Покупки
      (если сумма Покупки составила величину от 2000 до 2999 руб. вкл.), либо в
      размере 4% от суммы Покупки (если сумма Покупки составила величину от 3000
      до 3999 руб. вкл.), либо в размере 5% от суммы Покупки (если сумма Покупки
      составила величину от 4000 до 4999 руб. вкл.), либо в размере 6% от суммы
      Покупки (если сумма Покупки составила величину от 5000 до 5999 руб. вкл.),
      либо в размере 7% от суммы Покупки (если сумма Покупки составила величину
      от 6000 руб.),&nbsp;
    </p>
    <p>
      2) с 28.12.2024 по 31.03.2025 в размере 1% от суммы Покупки (если сумма
      Покупки составила величину от 2000 до 2999 руб. вкл.), 2% от суммы Покупки
      (если сумма Покупки составила величину от 3000 до 4999 руб. вкл.), либо в
      размере 3% от суммы Покупки (если сумма Покупки составила величину от 5000
      до 6999 руб. вкл.), либо в размере 4% от суммы Покупки (если сумма Покупки
      составила величину от 7000 до 7999 руб. вкл.), либо в размере 5% от суммы
      Покупки (если сумма Покупки составила величину от 8000 до 8999 руб. вкл.),
      либо в размере 6% от суммы Покупки (если сумма Покупки составила величину
      от 9000 до 9999 руб. вкл.), либо в размере 7% от суммы Покупки (если сумма
      Покупки составила величину от 10000 руб.),
    </p>
    <p>
      совершенной в Торговой точке Организатора Акции с использованием Карты
      Банка, SberPay или Карты любого другого банка после аутентификации с
      использованием сервиса Сбер ID. Количество Начисляемых Бонусов ограничено:
      не более 3500 Бонусов за единовременно совершенную Покупку и не более
      10000 Бонусов за все Покупки, совершенные в один месяц. Начисление Бонусов
      в рамках Акции производится в течение 14 рабочих дней с момента получения
      Участником Акции Товара. Имеются ограничения. В рамках Акции на
      резервируемую в Сервисе Организатора Акции алкогольную продукцию Бонусы не
      Начисляются. При расчете размера Поощрения в сумме Покупки не учитывается
      сумма на зарезервированную алкогольную продукцию. Бонусы не Начисляются
      для резерва заказов с товарами, оплата которых осуществляется в
      стационарной торговой точке, при заказе из аптек и в магазинах, входящих в
      перечень по ссылке:&nbsp;<a href="https://kuper.ru/no-promo-retailers"
        >https://kuper.ru/no-promo-retailers</a
      >
      &nbsp;с выбранной опцией «Самовывоз», при оплате частями, а также на
      заказы из ресторанов. Подробнее об Организаторе Акции, правилах ее
      проведения, количестве поощрений, сроках, месте и порядке их получения,
      ограничениях по ссылке
      <a href="https://spasibosberbank.ru/upload/storage/docs/kuper_rules.pdf"
        >https://spasibosberbank.ru/upload/storage/docs/kuper_rules.pdf</a
      >.&nbsp;
    </p>
    <p>
      ЕАПТЕКА (12+).&nbsp;ООО «еАптека», ОГРН 1147746631988, юридический адрес:
      119270, г. Москва, Фрунзенская наб., д. 42, цокольный этаж, пом. I, ком. 2
      (далее - ООО «еАптека»).
      <a href="https://spasibosberbank.ru/upload/storage/docs/pa_eapteka.pdf"
        >https://spasibosberbank.ru/upload/storage/docs/pa_eapteka.pdf</a
      >
      Пользовательское соглашение. https://www.eapteka.ru/company/contract/
      Лицензии. https://www.eapteka.ru/company/license/ ИМЕЮТСЯ
      ПРОТИВОПОКАЗАНИЯ, НЕОБХОДИМА КОНСУЛЬТАЦИЯ СПЕЦИАЛИСТА. Участникам
      Программы в Торговых точках Организатора Акции ООО «еАптека», доступно
      Начисление Бонусов в рамках Акции № 1/23, имеющим действующий Договор на
      Подписку СберПрайм, при оплате Товаров с использованием Инструментов
      доступа или Карты любого другого банка после аутентификации с
      использованием Сбер ID в Торговых точках Организатора Акции: в размере: 2%
      от суммы единовременно совершенной Поощряемой операции в диапазоне от 3
      000 до 3 999 руб.; 3% от суммы единовременно совершенной Поощряемой
      операции в диапазоне от 4 000 до 5 499 руб., 4 % от суммы единовременно
      совершенной Поощряемой операции от 5 500 до 7 499 руб.; 5 % от суммы
      единовременно совершенной Поощряемой операции от 7 500 и более, но не
      более 3 000 Бонусов за единовременно совершенную Поощряемую операцию, и не
      более 10 000 Бонусов за Поощряемые операции в течение календарного месяца.
      Срок проведения Акции: с 13.01.2023 по 08.05.2025 вкл. Срок совершения
      активных действий: с 13.01.2023 по 30.04.2025&nbsp;вкл. Период Начисления
      Поощрений: не позднее 08.05.2025. Поощрение в рамках Акции суммируется
      только с Поощрением в рамках&nbsp;
      <a href="https://spasibosberbank.ru/upload/storage/docs/eapteka_rules.pdf"
        >Базовой Акции</a
      >&nbsp;&nbsp; (срок с 15.12.2021 и не ограничена сроком действия) и
      Поощрением в рамках&nbsp;&nbsp;
      <a href="https://spasibosberbank.ru/upload/storage/docs/eapteka_rules.pdf"
        >Акции 3/23</a
      >&nbsp; (срок c 21.04.2023 и не ограничена сроком действия). Имеются
      ограничения. Расходные операции в Торговой Точке Организаторов Акции в
      городах Норильск и Красноярск не являются Поощряемыми операциями,
      Начисление Бонусов не производится. Подробнее об Организаторе Акции,
      правилах ее проведения, количестве поощрений, сроках, месте и порядке их
      получения, ограничениях на сайте:&nbsp;<a
        href="https://spasibosberbank.ru/upload/storage/docs/pa_eapteka.pdf"
        >https://spasibosberbank.ru/upload/storage/docs/pa_eapteka.pdf</a
      >.
    </p>
    <p>
      Территория доставки и перечень товара, доступный к доставке определяется
      Партнером – ООО «еАптека». До оформления заказа рекомендуем получить
      информацию у Партнера о возможности его доставки. Контактные данные
      Партнера размещены на сайте:
      <a href="https://www.eapteka.ru">https://www.eapteka.ru</a>.
    </p>
    <p>
      Самокат (6+).&nbsp;Участникам Программы, имеющим действующий договор на
      Подписку СберПрайм, в Торговых точках Организатора Акции ООО «Умный
      ритейл» (ОГРН 1177847261602, 121087, г Москва, вн.тер.г муниципальный
      округ Филевский парк, ул. Барклая, д. 6, стр. 3, помещ. 8н/4) доступно
      Начисление Бонусов в рамках Акции «СберПрайм» (срок: с 23.11.2023 и без
      ограничения по сроку)&nbsp; в размере 20% от суммы первой упорядоченной по
      дате и времени Покупки Участника Акции № 1 (ранее не совершал расходных
      операций по оплате Товара в Торговой точке Организатора Акции), либо&nbsp;
      в размере 3% от суммы Покупки Участника Акции № 2 (в случае, если сумма
      Покупки составила величину от 700 до 899 руб. вкл.), либо в размере 5% от
      суммы Покупки Участника Акции № 2 (в случае, если сумма Покупки составила
      величину от 900 до 1099 руб. вкл.), либо в размере 7% от суммы Покупки
      Участника Акции № 2 (в случае, если сумма Покупки составила величину от
      1100 до 1499 руб. вкл.), либо в размере 9% от суммы Покупки Участника
      Акции № 2 (в случае, если сумма Покупки составила величину от 1500 руб.
      вкл.), совершенной в Торговой точке Организатора Акции с использованием
      Инструментов доступа, Карты любого другого банка после аутентификации с
      использованием сервиса Сбер ID. Начисление Бонусов в рамках Акции
      производится в течение 3 рабочих дней с момента получения Участником Акции
      Товара. Имеются ограничения. Подробнее об Организаторе Акции, правилах ее
      проведения, количестве поощрений, сроках, месте и порядке их получения,
      ограничениях по ссылке&nbsp;
      <a href="https://spasibosberbank.ru/upload/storage/docs/pa_samokat.pdf"
        >https://spasibosberbank.ru/upload/storage/docs/pa_samokat.pdf</a
      >.&nbsp;
    </p>
    <p>
      СберЗдоровье&nbsp;(18+), ООО&nbsp;«Инновационная Медицина», ОГРН
      1197746310618, юридический адрес: 105203, г. Москва, ул. Нижняя
      Первомайская, д. 44, этаж цоколь, пом/ком XII/8, 9. Лицензия ИМ
      (ЛО-77-01-019313 выдана 19.12.2019) с привлечением иных медицинских
      организаций. ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ, НЕОБХОДИМО ПРОКОНСУЛЬТИРОВАТЬСЯ СО
      СПЕЦИАЛИСТОМ.&nbsp;
    </p>
    <p>
      Скидка 25% на продукты телемедицины (разовые онлайн-консультации с
      врачами, комплексные пакеты услуг). Пользовательское соглашение
      <a href="https://tm.sberhealth.ru/odertavsevrachiin" class="ek-link"
        >https://tm.sberhealth.ru/odertavsevrachiin</a
      >. Перечень действующих лицензий и разрешений
      <a href="https://tm.sberhealth.ru/medlic"
        >https://tm.sberhealth.ru/medlic</a
      >. Адрес сайта партнера:
      <a href="https://lk.sberhealth.ru/">https://lk.sberhealth.ru/</a>.
    </p>
    <p>
      Участникам Программы в рамках Акции № 3/24 (далее – Акция) доступна
      возможность Начисления Бонусов в размере 10 % от суммы Поощряемой
      операции, совершенной в Торговой точке Организатора Акции с использованием
      Карты Банка, SberPay или Карты любого другого банка после аутентификации
      по Сбер ID, а также при условии, если Участник имеет действующий Договор
      на Подписку СберПрайм. Количество начисляемых Бонусов ограничено: не более
      2 000 Бонусов за единовременно совершенную Покупку и не более 10 000
      Бонусов за все Покупки, совершенные в один месяц. Организатор Акции: ООО
      «Инновационная Медицина». Общий срок Акции: с 01.07.2024 и не ограничена
      сроком действия. Поощрение, которое вправе получить Участник в рамках
      Акции, суммируется только с поощрением в рамках&nbsp;
      <a href="https://spasibosberbank.ru/upload/storage/docs/pa_sz.pdf"
        >Акции 2/24</a
      >
      &nbsp;&nbsp;(срок акции: с 22.04.2024 и без ограничения по сроку
      действия). Имеются ограничения. Подробнее об Организаторе Акции, правилах
      ее проведения, количестве поощрений, сроках, месте и порядке их получения,
      ограничениях по ссылке:
      <a href="https://spasibosberbank.ru/upload/storage/docs/pa_sz.pdf"
        >https://spasibosberbank.ru/upload/storage/docs/pa_sz.pdf</a
      >.
    </p>
    <p>
      Написанные с заглавной буквы термины, касающиеся Бонусов Спасибо,
      Программы лояльности «Спасибо» и Акций на базе Программы, толкование
      которых не приведено, употребляются в том же значении, которое определено
      в Правилах Программы. Организатор Программы – ПАО Сбербанк (Генеральная
      лицензия Банка России на осуществление банковских операций № 1481 от
      11.08.2015). Уполномоченная на реализацию Программы компания – АО «ЦПЛ»
      (ОГРН 1117746689840, адрес: 121170, г. Москва, вн.тер.г. муниципальный
      округ Дорогомилово, ул. Поклонная, д. 3, этаж 3/помещ. 120). Программа
      действует с 12.11.2011 и не ограничена сроком действия. С подробной
      информацией о Правилах Программы, о перечне Партнеров (Организаторов
      Акций) и правилах реализуемых ими Акций, количестве Поощрений, сроках,
      месте и порядке их получения, способах регистрации в Программе, условиях
      Начисления и Списания Бонусов в рамках Акций, ограничениях можно
      ознакомиться на сайте&nbsp;<a href="https://spasibosberbank.ru/"
        >https://spasibosberbank.ru/</a
      >. Организатор Программы/Акции вправе в одностороннем порядке вносить
      изменения в Правила Программы/Акции, в том числе в части сроков ее
      проведения, количества, сроков и иных условий получения Поощрений. Не
      является публичной офертой.&nbsp;
    </p>
    <p>
      Предложение о начислении Бонусов доступно Участникам Программы «<strong
        >До 15% Бонусами Спасибо за Покупки в ТСП категории «Транспорт»
        держателям Карты Банка, имеющим активную (действующую) Подписку</strong
      >» (далее – Акция). Общий срок Акции с 01.06.2025 по 20.07.2025.<br />Поощрение
      в размере <strong>до 15%</strong> от стоимости Покупки начисляется
      Участникам Акции, выполнившим условия Акции, каждый раз в июне за Покупки,
      совершенные с использованием Карты Банка в ТСП с
      <strong>МСС кодами 4111, 4131</strong> при наличии активной (действующей)
      <strong>Подписки СберПрайм, СберПрайм+, СберПрайм+Вместе</strong>,
      подробная информация о подписках семейства СберПрайм:
      <a href="https://www.sberbank.com/sberprime/home"
        >https://www.sberbank.com/sberprime/home</a
      >. Суммарный размер Поощрения – не более <strong>500 Бонусов </strong>за
      весь период Акции. <strong>Имеются ограничения</strong>. Подробнее о
      правилах<br /><strong>Организатор Акции</strong> и Программы СберСпасибо -
      <strong>ПАО Сбербанк</strong>
      <strong
        >(Генеральная лицензия Банка России на осуществление банковских операций
        № 1481 от 11.08.2015)</strong
      >. Программа действует с 12.11.2011 и не ограничена сроком действия.
      Организатор<strong>Программы/Акции</strong> вправе в одностороннем порядке
      вносить изменения в Правила Программы/Акции. Сведения действительны на
      26.05.2025 включительно. Подробнее о Правилах Программы -
      <a href="https://spasibosberbank.ru/legal-information/pravila-programmy"
        >https://spasibosberbank.ru/legal-information/pravila-programmy</a
      >. <strong>Не является публичной офертой. Доступно по </strong
      ><strong>Cбер </strong><strong>ID. Реклама. ПАО Сбербанк</strong>
    </p>
    <p>Сведения действительны на 09.06.2025</p>
  </div>
</div>
