<div class="timer-circle">
  <div class="timer-circle-text">
    <p>У вас осталось</p>

    <span class="js_time_left"><span class="d-n-m">0</span>5:00</span>
  </div>

  <svg width="100px" height="100px" viewBox="0 0 42 42" class="donut">
    <circle
      id="c1"
      cx="21"
      cy="21"
      r="15.91549430918954"
      stroke-dasharray="100 0"
      stroke-dashoffset="100"
    ></circle>
    <defs>
      <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
        <stop offset="-25%" stop-color="#04D903" />
        <stop offset="75%" stop-color="#0FA8E0" />
      </linearGradient>
    </defs>
    <circle
      id="c2"
      cx="21"
      cy="21"
      r="15.91549430918954"
      stroke-dasharray="0 100"
      stroke-dashoffset="0"
    ></circle>
  </svg>
</div>
