html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  font-size: 16px;
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  text-wrap: pretty;
  word-break: break-word;
  line-height: 1;
  background-color: #fdfdfd;
}

header,
footer {
  flex-shrink: 0;
}

.wrapper {
  flex-grow: 1;
  display: flex;
}

aside,
main {
  /* Занять всё оставшееся пространство */
  flex-grow: 1;
}
