html {
  scroll-behavior: smooth;
  // overflow: hidden;
}

body {
  color: $color-black;
  font-size: 16px;
  line-height: 1.2;
  word-break: break-word;
  overflow: hidden;
  text-wrap: pretty;
  background-color: var(--color-white);
}

*,
html,
body {
  font-family: $font-main !important;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* Стандартный синтаксис */
  touch-action: manipulation;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: -webkit-fill-available;
}

header,
footer {
  flex-shrink: 0;
}

main {
  /* Занять всё оставшееся пространство */
  flex-grow: 1;
}

html {
  background: saddlebrown;
}

body,
.wrapper,
main {
  height: 100vh;
  min-height: 100vh;
  height: -webkit-fill-available;
  min-height: -webkit-fill-available;
}

body {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  // height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  // height: 100dvh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  // height: 100svh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  // height: calc(var(--vh, 1vh) * 100);
  // // min-height: calc(var(--vh, 1vh) * 100);
}
