html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  color: var(--color-black);
  font-size: 16px;
  line-height: 1;
  word-break: break-word;
  text-wrap: pretty;
}

header,
footer {
  flex-shrink: 0;
}

main {
  /* Занять всё оставшееся пространство */
  flex-grow: 1;
}
