@mixin mediaBg() {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    @content;
  }
}

@mixin laptop() {
  @media (max-width: 1220px) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin transition() {
  transition: 0.3s ease;
}
@mixin toVh($property, $value, $important: "") {
  #{$property}: calc($value / 8.35) #{$important};
}

@mixin setProp(
  $property,
  $value1: "",
  $value2: "",
  $value3: "",
  $important: ""
) {
  #{$property}: $value1;
  #{$property}: calc($value2 / 8.35) #{$important};
  #{$property}: calc($value3 / 8.35) #{$important};
}
