:root {
  --font-main: "MabryPro", sans-serif;

  --color-white: #ffffff;
  --color-black: #1d2839;

  --color-greenLight: #81efe2;

  --color-blue: #2974e2;
  --color-blueLight: #3bc5ff;

  --color-grey: #626787;
  --color-greyLight: #bcbcbc;

  --color-attention: #e33368;
  // --color-blue: #324ea3;
}
