:root {
  --font-main: "Montserrat", sans-serif;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: rgba(255, 255, 255, 0.3);

  --color-primary: #e33368;
  --color-attention: #e33368;
  --color-secondary: #e33368;
}

$font-main: var(--font-main);

$color-white: var(--color-white);
$color-black: var(--color-black);
$color-grey: var(--color-grey);
$color-primary: var(--color-primary);
$color-attention: var(--color-attention);
$color-secondary: var(--color-secondary);
