.progress-95 {
  animation: progress95 0.5s ease-in;
  animation-fill-mode: forwards;
}
.progress-65 {
  animation: progress65 0.5s ease-in;
  animation-fill-mode: forwards;
}
.progress-50 {
  animation: progress50 0.5s ease-in;
  animation-fill-mode: forwards;
}
.progress-35 {
  animation: progress35 0.5s ease-in;
  animation-fill-mode: forwards;
}

@keyframes progress95 {
  0% {
    width: 0;
  }
  100% {
    max-width: 95%;
  }
}
@keyframes progress65 {
  0% {
    width: 0;
  }
  100% {
    max-width: 65%;
  }
}
@keyframes progress50 {
  0% {
    width: 0;
  }
  100% {
    max-width: 50%;
  }
}

@keyframes progress35 {
  0% {
    width: 0;
  }
  100% {
    max-width: 35%;
  }
}
