.description_info {
  ul {
    list-style: disc;
    padding-left: 16px;
  }

  li {
    margin-bottom: 16px;
    &:last-of-type {
      margin-bottom: 0;
    }

    b {
      font-weight: bold;
    }
  }
}
