<div class="lvl lvl_3-1 js_lvl_3-1 step_last d-flex flex-column">
  <div
    class="step_last_wrapper d-flex flex-column justify-center align-center w-100 h-100"
  >
    <div class="step_last_top d-flex flex-column h-100 w-100">
      <div class="bg_black"></div>
      <div
        class="step_last_top-content container d-flex h-100 justify-end align-center"
      >
        <div class="d-none step_last_top-content--tablet">
          @@include('./lvl_1_1_text-1.html')
          <!-- prettier-ignore -->
          <!-- @@include('./lvl_1_1_text-2.html') -->
        </div>

        <div class="step_last_top-left">
          <div class="block_media d-flex flex-column">
            <div class="block_media-video">
              <video
                id="video-3"
                playsinline="false"
                controls="false"
                data-poster="./img/videos/poster-3.jpg"
              >
                <source src="./img/videos/video.mp4" type="video/mp4" />
              </video>
            </div>
            <div class="block_media-text">
              <p>Люда, у нас будет синяя кухня!</p>
            </div>
          </div>

          <h6 class="h6 text-center">
            Послушайте, что об этом думает Сергей, 40 лет
          </h6>
        </div>

        <div class="step_last_top-right">
          <div class="step_last_top-right--item">
            <p>Финансовые инструменты для легкой покупки жилья</p>
          </div>
          <div class="step_last_top-right--item">
            <p>Более 35 сервисов для покупки жилья</p>

            <i class="icon-svg">
              <svg
                width="64"
                height="52"
                viewBox="0 0 64 52"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M25.5312 0.0270996H55.1485V43.7366H50.3029V4.87387H30.3755V46.8185H63.7343V51.6653H0.429688V46.8185H9.01553V16.5416H22.4494V21.3883H13.8635V46.8185H25.5312V0.0270996ZM42.0457 13.4597V7.95572H46.8912V13.4597H42.0457ZM38.634 21.7182H33.7885V16.2129H38.634V21.7182Z"
                  fill="white"
                />
              </svg>
            </i>
          </div>
          <div class="step_last_top-right--item">
            <p>Trade-in</p>

            <i class="icon-svg">
              <svg
                width="64"
                height="52"
                viewBox="0 0 64 52"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M32.0001 0.84314L54.3123 23.1553V35.3458L59.9022 29.7558L63.202 33.0556L51.979 44.2788L40.7558 33.0556L44.0557 29.7558L49.6456 35.3458V25.0883L32.0001 7.44277L17.1259 22.317L13.826 19.0172L32.0001 0.84314ZM12.0213 20.8292L23.2408 31.9998L19.9482 35.3068L14.3546 29.7376V46.762H54.4763V51.4287H9.68795V29.7376L4.09439 35.3068L0.801758 31.9998L12.0213 20.8292Z"
                  fill="#007BFB"
                />
              </svg>
            </i>
          </div>
          <div class="step_last_top-right--item">
            <p>Выбор подходящих программ покупки</p>

            <i class="icon-svg">
              <svg
                width="54"
                height="55"
                viewBox="0 0 54 55"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12.9951 5.57745C9.34032 5.57745 6.3775 8.54023 6.3775 12.1951C6.3775 15.8499 9.34028 18.8127 12.9951 18.8127C16.6499 18.8127 19.6127 15.8499 19.6127 12.1951C19.6127 8.54023 16.6499 5.57745 12.9951 5.57745ZM0.9375 12.1951C0.9375 5.53582 6.33587 0.137451 12.9951 0.137451C19.6543 0.137451 25.0527 5.53582 25.0527 12.1951C25.0527 18.8543 19.6543 24.2527 12.9951 24.2527C6.33587 24.2527 0.9375 18.8543 0.9375 12.1951ZM6.10371 51.0892L41.2237 1.28865L45.6691 4.42382L10.5494 54.2243L6.10371 51.0892ZM41.0083 33.5891C37.3533 33.5891 34.3907 36.5519 34.3907 40.2067C34.3907 43.8614 37.3533 46.8243 41.0083 46.8243C44.663 46.8243 47.6259 43.8614 47.6259 40.2067C47.6259 36.5519 44.663 33.5891 41.0083 33.5891ZM28.9507 40.2067C28.9507 33.5475 34.3491 28.1491 41.0083 28.1491C47.6675 28.1491 53.0659 33.5475 53.0659 40.2067C53.0659 46.8659 47.6675 52.2643 41.0083 52.2643C34.3491 52.2643 28.9507 46.8659 28.9507 40.2067Z"
                  fill="white"
                />
              </svg>
            </i>
          </div>
        </div>
      </div>
    </div>

    <div class="step_last_bottom w-100 d-flex justify-between align-center">
      <div class="container">
        <div class="step_last_bottom-info d-flex align-center justify-between">
          <div class="d-flex m-d-none mb-10">
            @@include('./lvl_3_1_text-1.html')
            <!-- <h3 class="h3">Как выбрать жильё?</h3> -->
          </div>

          <button
            type="button"
            class="step_last_btn js_step_last_btn js_btn step_last_bottom-btn btn btn-grey"
          >
            На следующий этаж!
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
