<div
  data-tab="1"
  class="lvl lvl_5-2 js_lvl_5-2 step_2 final d-flex flex-column h-100"
>
  <div class="container h-100">
    <div class="final_wrapper d-flex justify-between align-start w-100 h-100">
      <div class="final_left">
        <!-- TOP LOGO -->
        <div class="final_logo">@@include('../logo-b.html')</div>

        <!-- TOP TITLE -->
        <div class="final_left-tops">
          <div class="final_left-top">
            <h2>
              Жизнь в ваших <br />
              этажах доверия
            </h2>

            <h4>Выбирайте проект с душой, которые мы строим для Вас!</h4>
          </div>
          <!-- TOP TITLE -->
          <div class="final_left-top">
            <h2>Полноценная инфраструктура</h2>

            <h4>
              Самолет создаёт для вас районы с полноценной инфраструктурой
              <br />
              в самых живописных местах Москвы и Московской области
            </h4>
          </div>
          <!-- TOP TITLE -->
          <div class="final_left-top">
            <h2>Уникальные предложения</h2>

            <h4>
              Успейте приобрести недвижимость от Самолёт по <br />
              выгодной цене! Выбирайте подходящие условия и ..
            </h4>
          </div>
          <!-- TOP TITLE -->
          <div class="final_left-top">
            <h2>Идеальное место</h2>

            <h4>
              Квартиры, которые отражают вашу уникальность. <br />
              Выбирайте подходящие форматы с отделкой <br />
              и мебелированием от Самолет.
            </h4>
          </div>
        </div>

        @@include('./lvl_5_f_mob-tabs.html')

        <div class="final_left-bottoms">
          @@include('./lvl_5_1_f_1.html') @@include('./lvl_5_1_f_2.html')
          @@include('./lvl_5_1_f_3.html') @@include('./lvl_5_1_f_4.html')
        </div>

        <picture class="final_4_bg">
          <source srcset="./img/final_bg_4_1.jpg" media="(min-width: 640px)" />
          <img src="./img/final_bg_4_1.jpg" alt="image" />
        </picture>
      </div>

      <div class="final_right d-flex flex-column h-100">
        <div class="final_right_btns js_final_right_btns">
          <div class="final_right_btn js_final_right_btn">
            <button data-role="1" type="button" class="btn btn-grey">
              Выбор
            </button>
          </div>

          <div class="final_right_btn js_final_right_btn">
            <button data-role="2" type="button" class="btn btn-grey">
              Жизнь
            </button>
          </div>

          <div class="final_right_btn js_final_right_btn">
            <button data-role="3" type="button" class="btn btn-grey">
              Решения
            </button>
          </div>

          <div class="final_right_btn js_final_right_btn">
            <button data-role="4" type="button" class="btn btn-grey">
              Душа
            </button>
          </div>
        </div>

        <picture class="final_right_picture h-100">
          <img
            src="./img/final_lvls.png"
            media="(min-width: 1025px)"
            alt="image"
          />
        </picture>
      </div>
    </div>
  </div>
</div>
