
.cube_side.cube_side-left.cube_side-links
    .links_info
        .links_head
            h2.h2 Контакты
        .links_body
            p Почта
            .links_body-block
                a(href='mailto:m.barhush@gmail.com' target='_blank') m.barhush@gmail.com

            p Социальные сети
            .links_body-block
                a(href='https://t.me/Makster9_9' target='_blank') Телеграм
                a(href='https://www.instagram.com/mohhammed.b/' target='_blank') Инстаграм
                
            p Мессенджеры
            .links_body-block
                a(href='viber://chat?number=4916095075586' target='_blank') Viber 
                a(href='https://wa.me/+4917632255743' target='_blank') WhatsApp 
                a(href='skype:live:.cid.5a6e9ca768ac120d?chat' target='_blank') Skype
