.cube_side.cube_side-front.cube_side-main
    .main_info
        .main_info-head
            picture
                img(src='./img/img1.jpg' alt='author')
            h2 Обо мне
        .main_info-body
            p
                | Меня зовут Мохамед, мне 24 года <br>
                | Занимаюсь разработкой и поддержкой сайтов <br>
                | Больше 3-х лет опыта разработки
            p
                | Мои навыки:
        ul.main_info-footer
            li PUG
            li SCSS
            li JS
            li Jquery 
            li Gulp
            li GIT
            li WP
            li Emails