.cube_side.cube_side-right.cube_side-portfolio 
    .portfolio_info
        .portfolio_info-head
            h2.h2 Портфолио
        .portfolio_info-body

            a.portfolio_info-body--item(target='_blank' href='https://panfazan.com/')
                div.portfolio_info-body--text Верстка + посадка на WordPress
                picture
                    img(src="./img/portfolio-1.jpg", loading="lazy",  alt="preview")

            a.portfolio_info-body--item(target='_blank' href='https://msdmed.ru')
                div.portfolio_info-body--text Верстка + верстка писем для рассылки
                picture
                    img(src="./img/portfolio-3.jpg",loading="lazy",  alt="preview")

            a.portfolio_info-body--item(target='_blank' href='https://sweet-hercules.ru')
                div.portfolio_info-body--text Верстка + посадка на WordPress
                picture
                    img(src="./img/portfolio-2.jpg",loading="lazy",  alt="preview")

            a.portfolio_info-body--item(target='_blank' href='https://kant-sport.ru/')
                div.portfolio_info-body--text Верстка
                picture
                    img(src="./img/portfolio-4.jpg",loading="lazy",  alt="preview")
