.aside {
  position: fixed;
  z-index: 10;
  padding-bottom: 40px;

  &_controlls {
    top: 0;
    right: 40px;
    height: 100%;

    .swiper-scrollbar {
      height: 330px;
      width: 2px;
      left: unset;
      background-color: $color-grey;

      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &-drag {
        background-color: $color-white;
      }
    }

    &-pagination {
      margin-top: 15px;
      color: $color-grey;
      text-align: right;
      .swiper-pagination-total,
      .swiper-pagination-current {
        &::before {
          content: "0";
        }
      }
      .swiper-pagination-current {
        font-size: 32px;
        font-weight: 600;
        color: $color-white;
      }
      .swiper-pagination-total {
        font-size: 18px;
        color: $color-grey;
      }
    }

    &-btns {
      .prev,
      .next {
        &:not(.swiper-button-disabled) {
          cursor: pointer;

          svg,
          path {
            fill: $color-white;
            @include transition();
          }

          &:hover {
            svg,
            path {
              fill: $color-attention;
            }
          }
        }
        &.swiper-button-disabled {
          cursor: unset;
          svg,
          path {
            fill: $color-grey;
          }
        }
      }
    }
  }
}
