.lvls {
  .lvl {
    .step_4 {
      &_top {
        .step_4 {
          &_cards {
            .card {
              position: relative;
              margin-right: 20px;
              width: 100%;
              max-width: 330px;
              height: 460px;
              cursor: pointer;

              @media screen and (min-width: 1200px) {
                max-width: 340px;
              }

              &_media {
                width: 100%;
                height: 100%;
                border-radius: 24px;
                overflow: hidden;
                display: block;
                position: relative;

                &::after {
                  content: "";
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-color: rgba(0, 0, 0, 0.3);
                  opacity: 0;
                  transition: 0.3s linear;
                }

                img {
                  transition: 0.3s linear;
                  width: 100%;
                  object-fit: cover;
                  height: 100%;
                }
              }

              &_info {
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 0 30px 30px;
                width: 100%;
                min-height: 115px;
                .h5 {
                  color: var(--color-white);
                  font-weight: 500;
                }
              }

              &:last-of-type {
                margin-right: 0;
              }

              &.js_active,
              &:hover {
                picture {
                  &:after {
                    opacity: 1;
                  }
                  img {
                    transform: scale(1.1);
                  }
                }
              }
            }
          }
        }
      }
      &_bottom {
        .h3 {
          margin-right: 140px;
          font-weight: 500;
        }
      }
    }
  }
}
